/* --- General styles --- */
:root {
    --accent: #9D32C7;
    --accent-2: #EC2F4B;
    --text: #5c0e61;
    --text-2: #731422;
    --text-hover: var(--accent);
    --text-active: #FFFFFF;
    --border-width: 0.125em;
    --table-spacing: 24px;
    --table-half-spacing: 12px;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

a {
    color: var(--accent);
    text-decoration: none;
}

input, textarea, button, select {
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 8px;
    border: 1px solid #ccc;
}

input:focus {
    border: var(--accent) 2px solid;
    outline: none;
}

button.danger,
input.danger {
    background: red;
    color: white;
}

.form-field.block {
    margin-bottom: 0.75em;
}

.form-field.inline {
    display: inline-block;
    margin-right: 1em;
}

.form-field.inline .form-field-label {
    display: inline-block;
    margin-right: 0.5em;
}

.form-field-label {
    font-weight: bold;
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

.radio-inline {
    display: inline-block;
    margin-right: 1em;
}

@media screen and (max-width: 720px) {
    input, textarea, button, select {
        padding: 1em;
    }
}

.mr-1 {
    margin-right: 1em;
}


/* --- Layout --- */

body {
    padding: 0;
    margin: 0;
    background: #f4f4f4;
    font-family: sans-serif;
}

.page-wrapper {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.03);
    min-height: 100vh;
}

.page {
    width: 70%; /* (B) */
}

.main {
    display: flex;
    width: 100%;
}

.flex {
    display: flex;
}

@media screen and (max-width: 1300px) {
    .flex {
        flex-direction: column;
    }
    
    .flex div {
        width: 100%;
        margin: 0.5em 0;
    }

    .custom-select {
        margin: 0;
    }
}

@media screen and (max-width: 720px) {
    .page {
        width: 100%; /* (B) */
    }

    .main {
        flex-wrap: wrap; /* (C) */
        flex-direction: column;
        width: 98vw;
        margin-left: -5%;
    }
}

footer {
    color: gray;
    text-align: center;
    margin: 2em 0;
    font-size: 0.8em;
}


/* --- Design components --- */

.box {
    background: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.04) 4px 4px 10px;
    padding: 2em;
    margin: 1em;
}

@media screen and (max-width: 720px) {
    .box {
        padding: 1em 1em;
        margin: 0.5em;
    }
}


/* --- Topbar and navigation ---  */

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    width: 20vw;
    align-items: center;
}

.topbar a svg {
    width: 3em;
}

.topbar h1 {
    margin: 0;
    margin-left: 1.5em;
}

.nav {
    display: flex; /* (A) */
    align-items: center;
}

.nav div {
    margin-right: 1em;
}

.signout {
    margin-left: 1em;
}

.nav a.active, .dropdown span.active {
    background: #f3f3f3;
    padding: 0.5em;
    border-radius: 8px;
    font-weight: bold;
}

@media screen and (max-width: 1300px) {
    .nav div {
        margin-right: 0;
    }

    .topbar h1 {
        margin-left: 0.5em;
    }
}

.mobile-nav {
    display: none; /* (A) */
    flex-direction: column;
    align-items: center;
    margin-top: -1em;
    padding-top: 1em;
    gap: 1em;
}

.mobile-nav a.active {
    background: #f3f3f3;
    padding: 0.5em;
    border-radius: 8px;
    font-weight: bold;
}

.mobile-nav div {
    padding: 1em 0;
}

.mobile-nav-toggle-button {
    display: none; /* (A) */
    margin-right: 1em;
}

.topbar .user-info {
    display: flex;
    align-items: center;
}

.topbar .user-info .username {
    margin-right: -1em;
    padding: 0.4em 1.5em 0.4em 1em;
    text-align: right;
    background: #f4f4f4;
    border-radius: 16px 0 0 16px;
    font-size: 0.9em;
}

.user-avatar {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0.3em;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin-right: 0;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media screen and (max-width: 1050px) {
    .nav a.active {
        padding: 0.5em;
    }
}

@media screen and (max-width: 1000px) {
    .user-avatar, .user-avatar img{
        display: none;
    }

    .topbar .user-info .username {
        padding: 0.5em;
        border-radius: 16px;
    }

    .box {
        padding: 1em;
    }
}

@media screen and (max-width: 900px) {
   .page {
        width: 90%;
   }

    .logo svg {
        display: none;
    }

    .box {
        padding: 1em 0.5em;
    }
}

@media screen and (max-width: 720px) {

    .topbar .user-info .username {
        display: none; /* (A) */
    }

    .user-avatar, .user-avatar img{
        display: block;
    }

    .user-avatar img {
        width: 2em;
        height: 2em;
        border-radius: 50%;
    }

    .topbar {
        flex-direction: column;
        align-items: center;
    }

    .topbar h1 {
        font-size: 1.3em;
        margin-right: auto;
    }

    .nav {
        display: none; /* (A) */
    }

    .mobile-nav-toggle-button {
        display: block; /* (A) */
        margin: 0;
    }

    .mobile-nav.visible {
        display: flex; /* (A) */
    }

    .logo {
        display: none;
    }

    .user-info {
        margin: 1em;
        margin-bottom: 0;
    }

    .mobile-nav div {
        padding: 0;
    }
}

/** -- Flash messages -- */

.popup {
    position: fixed;
    bottom: 1em;
    left: 1em;
    z-index: 1000;    
    transition: opacity 1s ease, visibility 1s ease; 
}

.popup.fade-out {
    opacity: 0;
    visibility: hidden;
}

.popup div {
    padding: 1em 2em;
    font-weight: bold;
}

.popup .error {
    background: #ffcccc;
}

.popup .success {
    background: #ccffcc;
}

.popup .warning {
    background: #ffffcc;
}

.popup .info {
    background: #be7edf;
}


/** --- Dashboard --- */

.dashboard {
    flex-grow: 1;
}

/* --- Account navigation --- */

.account-list-box {
    width: 20%; /* (C) */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.account-list-top {
    display: flex;
    flex-direction: column;
}

.account-list-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.account-list-heading h3 {
    margin: 0;
}

.account-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.account-list a {
    display: block;
    margin: 0.5em 0;
}

.hide-accounts-arrow {
    display: none; /* (A) */
}

.current-account {
    display: none; /* (A) */
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.active-account {
    font-weight: bold;
}

.account-filter-button {
    cursor: pointer;
    padding: 0.5em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-filter-button.active {
    background: #cccccc;
}

.account-filter {
    border-bottom: 1px solid lightgray;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

@media screen and (max-width: 720px) {
    .account-list-box {
        display: none; /* (A) */
    }

    .account-list-box.visible {
        width: 100%; /* (B) */
        display: flex; /* (A) */
    }

    .account-list-bottom {
        border-top: 1px solid lightgray;
        margin-top: 0.7em;
        padding-top: 0.7em;
    }

    .current-account.visible {
        display: flex; /* (A) */
    }

    .hide-accounts-arrow {
        display: block; /* (A) */
    }
}


/* --- Account detail --- */

.account-detail {
    flex-grow: 1;
}

.account-detail h2 {
    margin-top: 0.5em;
}

.new-transaction-form {
    border-bottom: 1px solid lightgray;
    padding-bottom: 1em;
}

.new-transaction-form-layout {
    display: flex;
    gap: 3em;
    width: 100%;
}

.new-transaction-form .right {
    flex-grow: 1;
}

.new-transaction-form textarea {
    width: 100%;
}

.new-transaction-form .field-name {
    display: block;
}

/* -- Transaction history -- */

.transaction-history-table {
    width: 100%;
}

.transaction-history-table th,
.transaction-history-table td {
    text-align: left;
    padding: 0.5em 0;
}

.transaction-history-table td {
    border-top: 1px solid lightgrey;
}

.transaction-history-table button {
    padding: 0.3em 0.5em;
    font-size: 0.8em;
}

.transaction-history-mobile {
    display: none; /* (A) */
    width: 100%;
    flex-direction: column;
}

.transaction-history-mobile-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
    border-bottom: 1px solid lightgrey;
}

.transaction-history-mobile-item .income {
    color: green;
}

.transaction-history-mobile-item .expense {
    color: red;
}

@media screen and (max-width: 720px) {
    .new-transaction-form-layout div {
        width: 100%;
    }

    .new-transaction-form-layout {
        flex-direction: column;
        gap: 0;
    }

    .new-transaction-form .field-name,
    .new-transaction-form .text-field,
    .new-transaction-form .select-field,
    .new-transaction-form .textarea-field,
    .new-transaction-form .submit-button {
        width: 100%;
    }

    .transaction-history-table {
        display: none; /* (A) */
    }

    .transaction-history-mobile {
        display: flex; /* (A) */
    }

}

.transactions-filter {
    margin-bottom: 1em;
}


.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3.5em 2.5em;
    text-align: center;
    padding: 0 1em 0 2em;
}

.bike {
    background: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 10px 15px 10px;
    padding: 1em 1em 1em 1em;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    width: 22.5rem;
}

.bike-actions {
    display: flex;
    justify-content: space-between;
    margin: 1em 4em 1em 4em;
}

.muted {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.bike:hover, .bike:focus, .bike:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
}

.bike-header {
    display: flex;
    justify-content: space-between;
    margin: 1em 2em 1em 2em;
}

.bike-img {
    height: 15em;
    width: 20em;
    object-fit: fill;
}

.bike-price {
    display: flex;
    justify-content: space-between;
    margin: 2em 2em 1em 2em;
}

.auth-box {
    margin: auto;
    width: 35vw;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 1675px) {
    .grid {
        display: grid;
        width: 100%;
        margin: auto;
        grid-template-columns: 50% 50%;
        gap: 3.3em 1em;
        text-align: center;
        padding: 0 1em 0 1em;
    }

    .bike {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .bike-img {
        align-items: center;
        margin: auto;
    }

    .bike-actions {
        margin: 1em 1.5em 1em 1.5em;
    }
}

@media screen and (max-width: 1300px) {
    .grid {
        display: grid;
        gap: 1em 1em;
        text-align: center;
        padding: 0 1em 0 1em;
    }

    .bike {
        padding: 0.75em;
        margin: auto;
        margin-bottom: 3em;
        width: 90%
    }

    .bike:hover, .bike:focus, .bike:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        cursor: pointer;
    }   

    .bike-img {
        width: 90%;
        height: 90%;
    }

    .bike-price {
        margin: 1em 1em 0 1em;
    }
}

@media screen and (max-width: 720px) {
    .grid {
        display: grid;
        grid-template-columns: 100%;
        gap: 1em 1em;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    

    .bike-actions {
        margin: 1em 5em 1em 5em;
    }
}

@media screen and (max-width: 500px) {
    .bike-img {
        height: 10em;
        width: 15em;
    }

    .bike-actions {
        margin: 0.5em;
    }

    .bike-actions a {
        margin: 0 5px;
    }
}

.auth-link {
    margin: 2em 0 1em 0;
}

input[class="submit-button"] {
    padding-top: 4em;   
}

.auth-submit {
    margin-top: 1.5em;
}

.profile-box {
    margin: auto;
    width: 50vw;
    display: flex;
    justify-content: center;
    text-align: center;
}

.table-box {
    margin: auto;
    width: 70vw;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    padding: 2em 3em 1em 3em;
    min-height: 50vh;
}

.profile-img img {
    border-radius: 48%;
    width: 20em;
    height: 20em;
    object-fit: fill;
}

.profile-info {
    display: flex;
    flex-direction: column;
    padding: 1em 0em 1em 2em;
}

.profile-info-div {
    width: 17.5vw;
    padding: 0 0 0 2em;
}

.profile-info-header {
    text-align: center;
}

.profile-info-item {
    display: flex;
    flex: row;
    justify-content: space-between;
    word-break: break-all;
}

.profile-info-item span:not(.italic) {
    font-weight: bold;
}

.profile-box div hr {
    margin: 1em 0 1em 0;
}

@media screen and (max-width: 720px) {
    .profile-box {
        margin: auto;
        width: 98%;
        display: flex;
        justify-content: center;
    }

    .table-box {
        margin: auto;
        width: 98%;
    }

    .profile-info {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .profile-info-div {
        width: 100%;
        padding: 0;
    }
    
    .profile-info-header {
        margin: 0;
    }

    .profile-info-header:last-of-type {
        margin-top: 2em;
    }

    .profile-img img {
        width: 10em;
        height: 10em;
    }
}

@media screen and (max-width: 1300px) {
    .profile-img img {
        width: 15em;
        height: 15em;
    }

    .profile {
        flex-direction: column;
        padding: 0.5em;
        gap: 1em;
    }

    .profile-box {
        margin: auto;
        width: 98%;
    }

    .profile-box .box {
        padding: 1em;
    }

    .profile-info {
        padding: 0;
    }

    .profile-info-div {
        width: 100%;
        padding: 0;
    }
}

.italic {
    font-style: italic;
}

.space-between {
    justify-content: space-between;
}

.filter {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2.5em 1em 1em 0;
    text-align: center;
}

.filter input[type="text"] {
    width: 15vw;
    margin-left: 5vw;
}

@media screen and (max-width: 1300px) {
    .filter input[type="text"] {
        width: 100%;
        margin-left: 0;
    }    
}

.filter select{
    width: 10vw;
    margin-left: 10vw;
    text-align-last: center;
}

/** --- Dashboard bike status filter --- **/
.hidden-toggles {
    position: relative;
    margin-left: 5vw;
    border-radius: 999em;
    overflow: hidden;

    height: 2.75em;
    width: 15vw; /* Adjusted for three elements */

    display: flex;
    flex-direction: row-reverse;

    > * {
        flex: 0 0 33.33%; /* Divides into 3 equal parts */
    }

    &:after {
        content: "";

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        border: var(--border-width) solid var(--accent);
        border-radius: 999em;
        pointer-events: none;
    }
}

.hidden-toggles__input {
    display: none;

    &:checked + .hidden-toggles__label {
        background-color: var(--accent);
        color: var(--text-active);

        &:before {
            opacity: 1;
        }
    }

    &:nth-of-type(1) + label { order: 3; }
    &:nth-of-type(2) + label { order: 2; }
    &:nth-of-type(3) + label { order: 1; }

}

.hidden-toggles__label {
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover {
        color: var(--text-hover);
    }

    &:nth-of-type(2) {
        border-left: var(--border-width) solid var(--accent);
        border-right: var(--border-width) solid var(--accent);
    }

}

/** --- Dashoard bike brand filter --- **/
.custom-select {
    margin-right: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  
  .custom-select select, .custom-select input, .custom-submit {
    text-align: center;
    width: 15vw;
    margin-left: 5vw;
    font-size: 1rem;
    padding: 0.675em 1em;
    background-color: #fff;
    border: var(--border-width) solid var(--accent);
    border-radius: 999em;
    color: #000;
    cursor: pointer;
  }

  .custom-select input:focus {
    outline: none;
  }

  .custom-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .custom-select input {
    padding: 0.675em 1em;
  }

  .custom-submit {
    width: 10vw;
    margin-left: 2vw;
    text-align-last: center;
    padding: 0.5em 1em;
    transition: all 0.2s ease-out;
    font-weight: bold;
    border: 0.3em solid var(--accent);
  }

  .custom-submit:hover {
    background-color: var(--accent);
    color: var(--text-active);
  }

  .custom-submit:active {
    background-color: var(--text);
    border: var(--border-width) solid var(--text);
  }

  .custom-option:hover {
    background-color: var(--accent);
    box-shadow: 0 0 10px 100px var(--accent) inset;
}

.reset-container {
    width: 6em;
}

.reset {
    display: flex;
    justify-content: center;
    width: 4em;
    height: 3.75em;
    text-align: center;
    background-color: #fff;
    border: 0.3em solid var(--accent-2);
    border-radius: 10rem;
    color: #000;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.reset:hover {
    background-color: var(--accent-2);
    color: var(--accent-2);
    fill: white;
}

.reset:active {
    background-color: var(--text-2);
    border: 0.3em solid var(--text-2);  
}

.dashboard-text {
    width: 35vw;
    display: grid;
    grid-template-columns: auto auto;
    margin: 2em 0 0 4em;
}

.dashboard-text-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 2em 0;
    padding: 2em;
    height: 10vh;
    width: 14vw;
    word-wrap: break-word;
    text-align: center;
    background-color: rgb(243, 243, 243);
    border: var(--border-width) solid rgba(68, 68, 68, 0.07);
    border-radius: 1em;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.1));
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.dashboard-text-item:hover, .dashboard-text-item:focus, .dashboard-text-item:active {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    filter: drop-shadow(0px 3px 7px rgba(0, 0, 0, 0.05));
    cursor: help;
}

@media screen and (max-width: 1300px) {
    .dashboard-text {
        width: 70vw;
        margin: 2em 0 0 0;
        grid-template-columns: auto;
        gap: 1.5em;
    }

    .dashboard-text-item {
        width: 100%;
        margin: auto;
        height: 5em;
        width: 90%;
    }

    .dashboard-text-item:hover, .dashboard-text-item:focus, .dashboard-text-item:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        filter: drop-shadow(0px 3px 7px rgba(0, 0, 0, 0.05));
        cursor: help;
    } 
    
    .custom-select {
        width: 100%;
    }

    .custom-select select, .custom-select input, .custom-submit {
        width: 100%;
        margin-left: 0;
    }

    .reset {
        width: 5em;
        height: 4em;
    }
}

@media screen and (max-width: 720px) {
    
}

.add-bike {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 1em;
    width: 8em;
    height: 2.4em;
    font-size: 2em;
    padding-top: 0.45em;
    transition: all 0.25s ease-out;
}

.add-bike:hover {
    font-weight: bolder;
}

.edit-bike, .delete-bike  {
    margin: 0 1em 0 1em;
}

.edit-bike, .delete-bike, .table-button, .submit-button {
    transition: all 0.2s ease-out;
}

.edit-bike:hover, .delete-bike:hover, .table-button:hover, .submit-button:hover {
    color: var(--text-active);
    background-color: var(--accent);
    cursor: pointer;
}

.edit-bike:active, .delete-bike:active, .table-button:active, .submit-button:active {
    background-color: var(--text);
}


.table {
	width:100%;
}

.table-header {
	display:flex;
	width:100%;
	background:black;
	padding:(var(--table-half-spacing * 1.5)) 0;
    height: 6vh;
    border-radius: 1em 1em 0 0;
}

.table-row {
	display:flex;
	width:100%;
    height: 5vh;
	padding:(var(--table-half-spacing) * 1.5) 0;
	
	&:nth-of-type(odd) {
		background:#ebebeb;
	}

    &:nth-of-type(even) {
		background:#f6f6f6;
	}
}

.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
    margin: auto;
}

.header__item {
	text-transform:uppercase;
    color:white;
    font-weight: bolder;
}

.table-row:last-child {
    border-radius: 0 0 1em 1em;
}

@media screen and (max-width: 1300px) {
    .table {
        margin-top: 1em;
    }
    
    .table-header {
        height: 12vh;
    }

    .table-row {
        height: 10vh;
    }
}

@media screen and (max-width: 720px) {
    .table-box div {
        overflow-x: auto;
        width: 98%;
    }

    .table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }
    .table-data {
        word-wrap: break-word;
    }
}

.list-header {
    text-align: center;
}

.chart {
    display: flex;
    justify-content: center;
    margin: 2em 0 0 0;
}

@media screen and (max-width: 720px) {
    .chart {
        width: 85%;
    }    
}

.status-ready, .status-waiting, .status-rented {
    font-weight: bold;
}

.status-ready {
    color: green;
}

.status-waiting {
    color: rgb(255, 55, 0);
}

.status-rented {
    color: var(--text);
}

.button-green, .button-red {
    transition: all 0.2s ease-out;
}

.button-green:hover, .button-red:hover {
    color: var(--text-active);
    cursor: pointer;
}

.button-green:focus, .button-red:focus {
    border: none;
    outline: none;
}


.button-green:hover {
    background-color: rgb(24, 141, 24);
}

.button-green:active {
    background-color: rgb(22, 95, 22);
}

.button-red:hover {
    background-color: rgb(170, 34, 34);
}

.button-red:active {
    background-color: rgb(118, 21, 21);
}

.mr-2 {
    margin-right: 2em;
}

.manage-bike-box {
    margin: auto;
    width: 35vw;
    display: flex;
    justify-content: center;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

.edit-profile svg{
    width: 20px;
    height: 20px;
    margin-left: 2em;
    transition: all 0.25s ease-out;
}

.edit-profile:hover {
    cursor: pointer;
    fill: var(--accent);
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 2em;
  }

.dropdown span {
    cursor: pointer;
    color: var(--accent);
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0;
    z-index: 10;
    text-align: center;
}

.dropdown-content p {
    margin: 1em 0;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content p a.active {
    padding: 0.25em;
}

@media screen and (max-width: 1000px) { 
    .dropdown {
        margin: 0;
    }

    .signout {
        margin: 0;
    }

    .topbar .user-info {
        margin-right: 1.25em;
    }
}

@media screen and (max-width: 720px) {
    .topbar .user-info {
        margin: 0;
    }    
}

.text-center {
    text-align: center;
}

.mb-2 {
    margin-bottom: 2em;
}

.mt-1 {
    margin-top: 1.5em;
}

.add-new-bike {
    margin-left: auto;
    display: grid;
    grid-template-columns: 80% 20%;
    width: 80%;
}

@media screen and (max-width: 720px) {
    .add-new-bike {
        width: 100%;
        grid-template-columns: 50% 50%;
    }    
}

#existing-brand {
    font-size: 16px;
    margin-left: auto;
}

#new-brand {
    font-size: 14px;
}

#toggle-brand {
    padding: 0.5em;
}

.new-brand-input {
    width: 75%;
}

