{% block header %}
    <div class="topbar box">
        <div class="mobile-nav-toggle-button" onclick="toggleMenu()">
                <span class="material-symbols-outlined">
                    menu
                </span>
        </div>
        <a href="{{ url_for('view_dashboard_page') }}">
    <h1 class="mr-1">Půjčovna kol</h1>
        </a>
    <div class="nav">
    {% if session['authenticated'] %}
            <a href="{{ url_for('view_profile_page', user_id=session['user_id']) }}" class="user-info">
                <div class="username">{{ session['first_name'] }} {{ session['last_name'] }}</div>
                <div class="user-avatar">
                    <img src="{{ url_for('static', filename='img/person.svg') }}" alt="Logged-in user menu">
                </div>
            </a>
        <div>
        <a href="{{ url_for('logout.page') }}">Odhlásit se</a>
        </div>
        {% else %}
            <a href={{ url_for("register.page")}}>
                <div class="username">Registrace</div>
            </a>
            <a href="{{ url_for('login.page') }}">
                <div class="username">Přihlásit se</div>
            </a>
        {% endif %}
    </div>
    </div>
{% endblock %}