{% extends '__main.jinja' %}
{% from 'macros/form.jinja' import form_field, form_inline_field, form_submit with context %}

{% block content %}
    <div class="main profile-box">
        <div class="box dashboard">
            <h2 class="list-header">Přidat kolo</h2>
            <form method="POST" enctype="multipart/form-data">
                {{ form_field(form.name) }}
                {{ form_field(form.brand_id) }}
                {{ form_field(form.price_per_day) }}
                {{ form_field(form.img) }}
                {{ form_submit("Potvrdit") }}
                {% for error in form.img.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock%}