{% extends '__main.jinja' %}
{% from 'macros/form.jinja' import form_field, form_inline_field, form_submit with context %}

{% block content %}
    <div class="main">
        <div class="box dashboard">
            <h1>Přidat zaměstnance</h1>
            <form method="post" {% if password %} hidden {% endif %} >
                {{ form_field(form.first_name) }}
                {{ form_field(form.last_name) }}
                {{ form_field(form.email) }}
                {{ form_submit('Vytvořit') }}
            </form>
            {% if password %}
                <p>Vygenerované heslo (zašlete novému zaměstnanci): {{ password }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}