{% extends '__main.jinja' %}

{% block content %}
    <div class="main">
        <div class="box dashboard">
            {% if bike_event %}
                <h2>Historie správy kol</h2>
                <table class="table">
                <tr class="table-header">
                    <td class="header__item">ID</td>
                    <td class="header__item">Jméno</td>
                    <td class="header__item">Značka</td>
                    <td class="header__item">Typ</td>
                    <td class="header__item">Stav</td>
                </tr>
                    <tr class="table-row">
                        <td class="table-data">{{ bike_event.id }}</td>
                        <td class="table-data">{{ bike_event.bike_name }}</td>
                        <td class="table-data">{{ bike_event.brand_name }}</td>
                        <td class="table-data">{{ bike_event.type }}</td>
                        {% if bike_event.status == "Čeká na vyřízení" %}
                            <td class="table-data status-waiting">
                                {{ bike_event.status }}
                            </td>
                        {% elif bike_event.status == "Vráceno/Opraveno" %}
                            <td class="table-data status-ready">
                                {{ bike_event.status }}
                            </td>
                        {% else %}
                            <td class="table-data status-rented">
                                {{ bike_event.status }}
                            </td>
                        {% endif %}
                    </tr>
            {% endif %}
            </table>
        <h3>Poznámka</h3>
        {% if bike_event.description %}
            <pre>{{ bike_event.description }}</pre>
        {% else %}
        Kolo nemá žádnou poznámku. <br>
        {% endif %}
        <a href="{{ url_for('bike_history.page') }}"><button>Zpět</button></a>
        </div>
    </div>
{% endblock %}