{% extends '__main.jinja' %}

{% block content %}
    <div class="main">
        <div class="box dashboard">
            <h2>Přehled</h2>
            <p>
                Vítejte v půjčovně kol. <br>
                {% if session['authenticated'] %}
                    Aktuálně jste přihlášen jako: {{ session['email'] }}
                {% else %}
                    Aktuálně nejste přihlášen.
                {% endif %}
            </p>
            <hr>
        {% if session['role'] == 1 %}
            <a href={{ url_for("add_bike.page") }}>Přidat kolo</a>
        {% endif %}
            {% for bike in bikes %}
                <p>Jméno: {{ bike.name }}</p>
                <p>Cena na den: {{ bike.price_per_day }}</p>
                <p>Název značky: {{ bike.brand_name }}</p>
                <img src="{{ url_for('static', filename="img/" + bike.img) }}" alt="{{ bike.name }}" height="200px" >
                <br>
                {% if session['role'] == 1 %}
                <a href="{{ url_for('edit_bike.page', bike_id=bike.id) }}">
                    <button>Upravit</button>
                </a>
                <a href="{{ url_for('delete_bike.page', bike_id=bike.id) }}">
                    <button>Smazat</button>
                </a>
                    {% elif session['role'] == 0 %}
                    {% if is_rented(bike.id) == 0 or is_rented(bike.id) == 3 %}
                        <a href="{{ url_for('rent_bike.page', user_id=session['user_id'], bike_id=bike.id) }}">
                        <button>Vypůjčit si</button>
                        </a>
                    {% elif is_rented(bike.id) == 1 %}
                        <b>Kolo je již zapůjčeno do: {{ getRentDate(bike.id).date_to }}</b>
                        {% else %}
                        <b>Kolo se vyřizuje zaměstnanci.</b>
                    {% endif %}
                {% endif %}
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock%}