{% extends '__main.jinja' %}

{% block content %}
    <div class="main">
        <div class="box dashboard">
            <h2>Přehled</h2>
            <p>
                Vítejte v půjčovně kol.
            </p>
        </div>
    </div>
{% endblock%}