{% extends 'layout/__main.jinja' %}
{% from 'macros/form.jinja' import form_field, form_inline_field, form_submit with context %}

{% block content %}
    <div class="main profile-box">
        <div class="box dashboard">
            <h1>Změna údajů profilu</h1>
            <hr>
            <h2>Změna e-mailu</h2>
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                {{ form_field(form.email) }}
                {{ form_submit('Změnit') }}
            </form>
            <hr>
            <h2>Změna jména</h2>
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                {{ form_field(form.first_name) }}
                {{ form_field(form.last_name) }}
                {{ form_submit('Změnit') }}
            </form>
            <hr>
            <h2>Změna hesla</h2>
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                {{ form_field(form.prev_password) }}
                {{ form_field(form.curr_password) }}
                {{ form_submit('Změnit') }}
            </form>
            <hr>
            <h2>Změna profilového obrázku</h2>
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                {{ form_field(form.img) }}
                {{ form_submit('Změnit') }}
            </form>
            <hr>
            <h2>Odstranit účet</h2>
            <a href="{{ url_for('delete_user.page', user_id=session['user_id']) }}">
                <button class="button-red">Odstranit účet</button>
            </a>
        </div>
    </div>
{% endblock %}