{% extends '__main.jinja' %}

{% block content %}
    <div class="main table-box">
        <div class="box dashboard">
            {% if bikes %}
            <h2 class="list-header">Kola čekající na vyřízení</h2>
            <table class="table">
            <tr class="table-header">
                <td class="header__item">Jméno</td>
                <td class="header__item">Značka</td>
                <td class="header__item">Datum od</td>
                <td class="header__item">Datum do</td>
                <td class="header__item">Kdo si vypůjčil</td>
                <td class="header__item">Akce</td>
            </tr>
            {% for bike in bikes %}
            <tr class="table-row">
                <td class="table-data">{{ bike.bike_name }}</td>
                <td class="table-data">{{ bike.brand_name }}</td>
                <td class="table-data">{{ bike.date_from }}</td>
                <td class="table-data">{{ bike.date_to }}</td>
                <td class="table-data"><a href="{{ url_for('view_profile_page', user_id=bike.user_id) }}">{{ bike.user_name }}</a></td>
                <td class="table-data"><a href="{{ url_for('bikes.manage_bike_page', bike_id=bike.id) }}"><button class="table-button">Vyřídit</button></a></td>
            </tr>
            {% endfor %}
                {% else %}
                <p>Žádná kola nečekají na vrácení.</p>
            {% endif %}
        </table>
        </div>
    </div>
{% endblock%}