{% extends '__main.jinja' %}
{% from 'macros/form.jinja' import form_field, form_inline_field, form_submit with context %}

{% block content %}
    <div class="main">
        <div class="box dashboard">
            <h2>Registrace</h2>
            <form method="POST" >
                {{ form_field(form.email) }}
                {{ form_field(form.password) }}
                {{ form_submit("Přihlásit se") }}
            </form>
        </div>
    </div>
{% endblock%}