{% extends '__main.jinja' %}

{% block content %}
    <div class="main profile-box">
        <div class="box dashboard ">
            <div class="profile">
                <div class="profile-img">
                    <img src="{{ url_for('static', filename='img/' + user.avatar) }}"
                         alt="{{ user.first_name, " ", user.last_name }}">
                </div>
                <div class="profile-info">
                    <h2 class="profile-info-header">
                    <span>Informace o uživateli</span>
                    {% if user.id == session['user_id'] %}
                        <a href="{{ url_for('edit_profile.page') }}" class="edit-profile">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/></svg>
                        </a>
                    {% endif %}
                    </h2>
                    <div class="profile-info-div">
                        <p class="profile-info-item">
                            <span>Jméno: </span>
                            {{ user.first_name }} {{ user.last_name }}
                        </p>
                        <p class="profile-info-item">
                            <span>Role: </span>
                            {% if user.role == 0 %}
                                Uživatel
                            {% else %}
                                Správce
                            {% endif %}
                        </p>
                        <p class="profile-info-item">
                            <span>Email: </span>
                            <span class="italic">{{ user.email }}</span>
                        </p>
                    </div>
                    {% if user.id == session['user_id'] or session['role'] == 1 %}
                        <h2 class="profile-info-header">Statistiky</h2>
                        <div class="profile-info-div">
                            <p class="profile-info-item">
                                <span>Počet vypůjčených kol: </span>
                                {{ getReliability(user.id)[0] }}
                            </p>
                            <p class="profile-info-item">
                                <span>Počet v pořádku vrácených kol: </span>
                                {{ getReliability(user.id)[1] }}
                            </p>
                            <p class="profile-info-item">
                                {## 0 / 0 => specialni case => Spolehlivost: 'XX'  ##}
                                <span>Spolehlivost: </span>
                                {{ getReliability(user.id)[2] }}%
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if bikes %}
                <h2 class="profile-info-header">Historie vypůjčených kol</h2>
                <table class="table">
                    <tr class="table-header">
                        <td class="header__item">Jméno</td>
                        <td class="header__item">Značka</td>
                        <td class="header__item od">Datum od</td>
                        <td class="header__item do">Datum do</td>
                    </tr>
                    {% for bike in bikes %}
                        <tr class="table-row">
                            <td class="table-data">{{ bike.bike_name }}</td>
                            <td class="table-data">{{ bike.brand_name }}</td>
                            <td class="table-data">{{ bike.date_from }}</td>
                            <td class="table-data">{{ bike.date_to }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="center">
                    {% if user.role == 0 %}
                        <h2 class="text-center">Uživatel si zatím nevypůjčil žádná kola.</h2>
                    {% else %}
                        <h2 class="text-center">Uživatel si nemůže vypůjčovat kola.</h2>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}