{% extends '__main.jinja' %}

{% block content %}
    <div class="main profile-box">
        <div class="box dashboard ">
            <div class="profile">
                <div class="profile-img">
                    <img src="{{ url_for('static', filename='img/' + user.avatar) }}"
                         alt="{{ user.first_name, " ", user.last_name }}" class="bike-img">
                </div>
                <div class="profile-info">
                    <h2>Informace o uživateli</h2>
                    {% if user.id == session['user_id'] %}
                        <a href="{{ url_for('edit_profile.page') }}">Změnit údaje profilu</a>
                    {% endif %}
                    <div class="profile-info-div">
                        <p class="profile-info-item">
                            <span>Jméno: </span>
                            {{ user.first_name }} {{ user.last_name }}
                        </p>
                        <p class="profile-info-item">
                            <span>Role: </span>
                            {% if user.role == 0 %}
                                Uživatel
                            {% else %}
                                Správce
                            {% endif %}
                        </p>
                        <p class="profile-info-item">
                            <span>Email: </span>
                            <span class="italic">{{ user.email }}</span>
                        </p>
                    </div>
                    {% if user.id == session['user_id'] or session['role'] == 1 %}
                        <h2>Statistiky</h2>
                        <div class="profile-info-div">
                            <p class="profile-info-item">
                                <span>Počet vypůjčených kol: </span>
                                {{ getReliability(user.id)[0] }}
                            </p>
                            <p class="profile-info-item">
                                <span>Počet v pořádku vrácených kol: </span>
                                {{ getReliability(user.id)[1] }}
                            </p>
                            <p class="profile-info-item">
                                {## 0 / 0 => specialni case => Spolehlivost: 'XX'  ##}
                                <span>Spolehlivost: </span>
                                {{ getReliability(user.id)[2] }}%
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if bikes %}
                <h2>Historie vypůjčených kol</h2>
                <table class="table">
                    <tr class="table-header">
                        <td class="header__item">Jméno</td>
                        <th class="header__item">Značka</th>
                        <th class="header__item">Datum od</th>
                        <th class="header__item">Datum do</th>
                    </tr>
                    {% for bike in bikes %}
                        <tr class="table-row">
                            <td class="table-data">{{ bike.bike_name }}</td>
                            <td class="table-data">{{ bike.brand_name }}</td>
                            <td class="table-data">{{ bike.date_from }}</td>
                            <td class="table-data">{{ bike.date_to }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                {% if user.role == 0 %}
                    <h2>Uživatel si zatím nevypůjčil žádná kola.</h2>
                {% else %}
                    <h2>Uživatel si nemůže vypůjčovat kola.</h2>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}