{% extends 'layout/__main.jinja' %}
{% from 'macros/form.jinja' import form_field, form_inline_field, form_submit with context %}

{% block content %}
<div class="main profile-box">
    <div class="box dashboard statistics">
        <h1>Statistiky půjčovny</h1>
        <p>Počet registrovaných uživatelů: <span>{{ userCount }}</span></p>
        <p>Celkový příjem z výpůjček: <span>{{ totalBikeRevenue }}</span> Kč</p>
        <p>Nejvíce vypůjčené kolo: <span>{{ mostRentedBike }}</span></p>
        <p>Nejvíce vypůjčená značka kol: <span>{{ mostRentedBrand }}</span></p>
        <p>Celkový počet výpůjček: <span>{{ totalNumberOfRents }}</span></p>
        <center>
            <img src="data:image/png;base64,{{ chart_data }}" alt="Graf nejvíce vypůjčených značek" class="chart">
        </center>
    </div>
</div>
{% endblock%}