{% extends 'layout/__main.jinja' %}

{% block content %}
    <div class="main table-box">
        <div class="box dashboard">
            {% if bike_events %}
                <h2 class="list-header">Historie správy kol</h2>
                <table class="table">
                <tr class="table-header">
                    <td class="header__item">ID</td>
                    <td class="header__item">Jméno</td>
                    <td class="header__item">Značka</td>
                    <td class="header__item">Typ</td>
                    <td class="header__item">Stav</td>
                </tr>
                {% for bike_event in bike_events %}
                    <tr class="table-row">
                        <td class="table-data"><a href="{{ url_for('bike_history_description.page', event_id = bike_event.id) }}">{{ bike_event.id }}</a></td>
                        <td class="table-data">{{ bike_event.bike_name }}</td>
                        <td class="table-data">{{ bike_event.brand_name }}</td>
                        <td class="table-data">{{ bike_event.type }}</td>
                        {% if bike_event.status == "Čeká na vyřízení" %}
                            <td class="table-data status-waiting">
                                {{ bike_event.status }}
                            </td>
                        {% elif bike_event.status == "Vráceno/Opraveno" %}
                            <td class="table-data status-ready">
                                {{ bike_event.status }}
                            </td>
                        {% else %}
                            <td class="table-data status-rented">
                                {{ bike_event.status }}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
            </table>
        </div>
    </div>
{% endblock %}