{% extends 'layout/__main.jinja' %}
{% from 'macros/form.jinja' import form_field, form_inline_field, form_submit with context %}

{% block content %}
<div class="main auth-box">
    <div class="box dashboard">
        <h2>Přihlášení</h2>
        <form method="POST" class="auth-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {{ form_field(form.email, class_="bg-red") }}
            {{ form_field(form.password) }}
            {{ form_submit("Přihlásit se") }}
        </form>
        <p class="auth-link">
            Ještě nejste zaregistrovaní?
            <a href="{{ url_for('auth.register_page') }}">Zaregistrovat se</a>
        </p>
    </div>
</div>
{% endblock%}