{% extends 'layout/__main.jinja' %}
{% from 'macros/form.jinja' import form_field, form_inline_field, form_submit with context %}

{% block content %}
<div class="main auth-box">
    <div class="box dashboard">
        <h2>Registrace</h2>
        <form method="POST" class="auth-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {{ form_field(form.first_name) }}
            {{ form_field(form.last_name) }}
            {{ form_field(form.email) }}
            {{ form_field(form.password) }}
            {{ form_submit("Registrovat se") }}
        </form>
        <p class="auth-link">
            Už jste se registrovali?
            <a href="{{ url_for('auth.login_page') }}">Přihlásit se</a>
        </p>
    </div>
</div>
{% endblock%}