{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div class="popup">
            {% for category, message in messages %}
                <div class="box popup {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        <script>
            setTimeout(() => {
                const popup = document.querySelector('.popup');
                if (popup) {
                    popup.classList.add('fade-out');
                }
            }, 5000);
        </script>
    {% endif %}
{% endwith %}